<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet"  href="css/footer.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mon blog</title>
</head>
<body>
<header th:replace="header.html :: top"></header>
<h1>Mes articles</h1>

 <div th:each="article: ${articles}">
    <h1 th:text="${article.titreArticle}"> </h1>
     <p th:text="${#temporals.format(article.dateArticle, 'dd MMMM yyyy HH:mm:ss')}"></p>
     <img th:src="${article.image}"/>
     <p th:text="${article.resume}"></p>
     <a class="btn btn-link" th:href="@{monarticle(id=${article.id})}">lire la suite</a>
     <div th:unless="${session.user == null}">
         <a class="btn btn-link" th:href="@{crudarticle(id=${article.id})}" th:if="${session.user.role == 'admin'}">Modifier
             mon article</a>
         <a class="btn btn-link" th:href="@{delete-article(id=${article.id})}" th:if="${session.user.role == 'admin'}">Supprimé
             mon article</a>
     </div>
</div>

<footer th:replace="footer.html :: foot"></footer>
</body>
