<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet"  href="css/footer.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Connexion</title>
</head>
<body>
<header th:replace="header.html :: top"></header>

<form action="/index" method="Post">
    <input type="email" name="email" placeholder="votre email">
    <input type="password" name="password">
    <input type="submit">
    
</form>


<footer th:replace="footer.html :: foot"></footer>
</body>
</html>