<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/footer.css">
    <title>Document</title>
</head>
<body>
<header th:replace="header.html :: top"></header>
<h3 th:text="${user.id} ? 'Modification de mon compte' : 'Inscription'">Wizard</h3>
<form method="post" th:action="@{/save-user}" th:object="${user}">
    <input name="id" th:field="*{id}" type="hidden">
    <label for="email">Mon email</label>
    <input id="email" name="email" placeholder="Mon email" required th:field="*{email}" type="text">
    <br><br>
    <label for="name">Nom</label>
    <input id="name" name="name" placeholder="Nom" required th:field="*{name}" type="text">
    <br><br>
    <label for="lastName">Prenom</label>
    <input id="lastName" lastName="resume" placeholder="Prenom" required th:field="*{lastName}" type="text">
    <br><br>
    <label for="password">Mot de passe</label>
    <input id="password" name="password" placeholder="mot de passe" required th:field="*{password}" type="password">
    <br><br>
    <label for="newsletter">Newsletter</label>
    <input id="newsletter" name="newsletter" placeholder="Newsletter"  th:field="*{newsletter}" type="checkbox">
    <input class="btn btn-link" type="submit" value="Enregistre">
</form>

<form method="post"  th:action="@{/delete-user}"  th:unless="${session.user == null}">
    <input type="hidden" name="id" id="id" th:value="${session.user.id}" />
    <button  class="btn btn-link" type="submit" name="submit">Suprime mon compte</button>
</form>

<footer th:replace="footer.html :: foot"></footer>
</body>
</html>