<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer  th:fragment="foot">

    <div class="myfooter reveal reveal-visible">
        <div class="rose">
            <h5 class="reveal-1">MaryCrea.fr</h5>
            <p class="reveal-1">Here you can use rows and columns to organize your footer content.</p>
        </div>
        <div class="rose">
            <h5  class="reveal-2">Contact</h5>
            <a class="reveal-2" href="#!">contact</a>
            <a class="reveal-2"  href="#!">06 00 00 00</a>
            <p class="reveal-2" > "mon chez moi <br>31002 Grenade</p>
        </div>
        <div class="rose">
            <h5 class="reveal-3">Suivez moi</h5>
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x reveal-3"> </i>
        </div>
        <div class="rose-fonce">
            <p class="reveal-3">Copyright 2019 marylene| Realisation Jerome valette</p>
        </div>
    </div>



</footer>


</footer>
<!-- Footer -->
</body>
</html>