<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<header class="nav" th:fragment="top">
    <div class="menu">
        <span class="title">Sitename</span>
        <input class="burger" type="checkbox">
        <nav>
            <input type="search" placeholder="Rechercher...">
            <a href="#"><i class="material-icons">home</i>Home</a>
            <a href="#"><i class="material-icons">directions_car</i>Product</a>
            <a href="#"><i class="material-icons">drafts</i>Contact</a>
            <a href="#"><i class="material-icons">face</i>Profile</a>
        </nav>
    </div>
    <div class="menu-burger">
        <div class="nav_logo">MaryCrea</div>
        <div class="nav_logo">Burger</div>
    </div>

    <a class="nav_titre" href="/">Acceuil</a>
    <div class="nav_titre">Mes conviction</div>
    <a class="nav_titre" href="/service">Mes Services</a>
    <a class="nav_titre" href="/blog">Mes Articles</a>
    <a class="nav_titre" href="/connexion" th:if="${session.user == null}">Connexion</a>
    <a class="nav_titre" href="/deconection" th:unless="${session.user == null}">Deconnexion</a>

    <form method="POST" class="nav_titre"  th:if="${session.user == null}" th:action="@{/cruduser}">
        <button  type="submit" name="submit">Inscription</button>
    </form>
    <div class="nav_titre" th:unless="${session.user == null}">
        <a class="nav_titre" href="/crudservice"  th:if="${session.user.role == 'admin'}" >Nouveau service</a>
        <a class="nav_titre" href="/crudarticle"  th:if="${session.user.role == 'admin'}" >Nouveau article</a>
    </div>

    <form method="POST" class="nav_titre" th:unless="${session.user == null}" th:action="@{/cruduser}">
        <input type="hidden" name="id" id="id" th:value="${session.user.id}" />
        <button  type="submit" name="submit" th:text="${session.user.name}">This is a link that sends a POST request</button>
    </form>

    <div class="nav_titre">Contact</div>

</header>
</body>
</html>