<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">

<head>
    <link rel="stylesheet" href="css/style.css">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Mon blog</title>
</head>
<body>
<header th:replace="header.html :: top"></header>
<section class="mes_conviction">
    <section class="content">
        <div>
            <h2>Mes convictions</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequuntur culpa distinctio, dolore
                dolorum
                illo illum incidunt numquam odio perferendis, porro provident rem, repellat sapiente veniam! Alias
                asperiores nobis temporibus?</p>
        </div>
        <div class="conviction">
            <img src="http://via.placeholder.com/540x260" alt="">
            <div>
                <h3>Valeur</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dignissimos excepturi fugit in
                    ipsa?
                    Accusantium, aspernatur atque autem, consequuntur dolorem hic itaque iusto molestiae odit pariatur
                    possimus
                    qui unde voluptatum.</p>
            </div>

        </div>
        <div class="conviction">
            <div>
                <h3>Valeur</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dignissimos excepturi fugit in
                    ipsa?
                    Accusantium, aspernatur atque autem, consequuntur dolorem hic itaque iusto molestiae odit pariatur
                    possimus
                    qui unde voluptatum.</p>
            </div>
            <img src="http://via.placeholder.com/540x260" alt="">
        </div>
        <div class="conviction">
            <img src="http://via.placeholder.com/540x260" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dicta, dolores earum, expedita explicabo
                ipsum itaque officiis quas quibusdam, sunt totam voluptatibus. Aperiam, cupiditate eum illo modi natus
                quaerat ratione.</p>

            <div>
                <h3>Valeur</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dignissimos excepturi fugit in
                    ipsa?
                    Accusantium, aspernatur atque autem, consequuntur dolorem hic itaque iusto molestiae odit pariatur
                    possimus
                    qui unde voluptatum.</p>
            </div>
        </div>
    </section>
</section>
<section class="mes_services">
    <div class="titre">
        <h2>Mes services</h2>
        <p>jdfsjdfsjdfsjdfsdfsdfsdfsdfsdf</p>
    </div>
    <div class="carte">
        <img src="http://via.placeholder.com/240x160" alt="">
        <h5 class="card-title">Réalisation accessoires pour enfants</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dignissimos excepturi fugit in
            ipsa? qui unde voluptatum.</p>
        <div class="btn">mon btn</div>
    </div>
</section>
<footer th:replace="footer.html :: foot"></footer>
</body>
</html>