<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet"  href="css/footer.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<header th:replace="header.html :: top"></header>
<a th:href="@{/service}" th:if="${session.user.role == 'admin'}">Retour a mes articles</a>
<h1 th:text="${service.titre}"> </h1>
<img th:src="${service.image}"/>
<p th:text="${service.detail}"> </p>
<footer th:replace="footer.html :: foot"></footer>
</body>
</html>